.cards{
    margin: auto;
    display: inline-block;
    margin-left: 3%;
    margin-top: 40px;
}
.cardStyle{
    
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}