.content{
    display: table;
    margin:0 auto;  
    margin-top: 50px;
}
.imgs{
    display: flex;
    flex-direction: row;
}
.title{
    background-color: #9eabe4;
    background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
    border: 1px solid white;
    text-align: center;
}
.description{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    max-width: 900px;
    display: flex;
    flex-direction: row;
}
.gif{
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
}

